body{
    text-align: center;
    background-color: rgb(251, 229, 203);
}

#paper, #rock, #scissor, #reset
{
    height: 110px;
    width: 130px;
}

#reset
{
    height: 50px;
    width: 130px;
    border-radius: 50%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}